<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/global.css" />
        <link rel="stylesheet" href="/salary.css" />
        <title>Employee Salary Form</title>
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
        ></script>
        <script src="/edit_salary.js"></script>
    </head>
    <body>
        <div id="message"></div>
        <div class="login-box">
            <h2>Employee Salary</h2>
            <form id="form1">
                <input
                    style="display: none"
                    value="<%=event.id%>"
                    type="text"
                    name="id"
                    readonly
                    required
                />
                <div class="user-box">
                    <input
                        type="text"
                        value="<%=event.fname + ' ' + event.lname%>"
                        readonly
                        required
                    />
                    <label>Name</label>
                </div>
                <div class="user-box">
                    <input
                        type="number"
                        value="<%=event.pay_cycle%>"
                        name="pay_cycle"
                        required
                    />
                    <label>Pay Cycle</label>
                </div>
                <div class="user-box">
                    <input
                        type="number"
                        step="0.1"
                        value="<%=event.hrs%>"
                        name="hrs"
                        required
                    />
                    <label>Hours</label>
                </div>
                <div class="user-box">
                    <input
                        type="number"
                        step="0.01"
                        value="<%=event.basic_salary%>"
                        name="basic_salary"
                        required
                    />
                    <label>Basic Salary</label>
                </div>
                <div class="user-box">
                    <input
                        type="number"
                        step="0.01"
                        value="<%=event.salary%>"
                        name="salary"
                        required
                    />
                    <label>Salary</label>
                </div>
                <input type="submit" value="Update" />
            </form>
        </div>
    </body>
</html>
